@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg) 
  }
}

.waviy {
  position: relative;
  display: inline-block;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.03s * var(--i));
}


@font-face {
    font-family: 'AzoSansTest-Black';
    src: url('../fonts/Test-AzoCollection/Test-AzoSans/AzoSansTest-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'AzoSansTest-Black', sans-serif;
  }

  .custom-font {
    font-family: 'AzoSansTest-Black', sans-serif; 
    font-size: 6em;
    margin: 10px 0;
    color: white;
  }
  
  .custom-font-admin {
    font-family: 'AzoSansTest-Black', sans-serif; 
    font-size: 3em;
    color: white;
    text-align: left;
    margin-left: -1400px;
    z-index:100;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #090d00;
    z-index: 0;
  }
  
  .admin-container {
    position: fixed;
    right: 0; 
    top: 0; 
    width: 70%; 
    height: 100%; 
    background: rgba(226, 8, 255, 0.15); 
    backdrop-filter: blur(10px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); 
    border-left: 1px solid rgba(255, 255, 255, 0.3); 
    z-index:2;
  }
  
   .admin-container h1 {
    text-align: left;
    margin: 20px; 
    color: white;
  }
  
  .center-text {
    text-align: center;
    z-index:10;
  }

  .bottom-right-image {
    position: fixed;
    bottom: 0px;
    right: -39px;
    width: 1000px; 
    height: auto; 
    z-index:20
  }


  .ninja-image {
    position: fixed;
    top: 40px; 
    left: 40px; 
    z-index: 30; 
    height: 60%;
    width: auto;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  .ninja-image {
    animation: float 3s ease-in-out infinite;
  }
  
  
  